<div class="container mb-0" [ngClass]="routeAnimationsElements">
  <header class="py-3">
      <img src="https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/images/gnb-desktop-120x32.png">
  </header>
</div>
<div class="container">

  <div class="container-banner">
    <div class="header-text">
      <h1 class="headline">Samsung Experience Store<br>Appointment Service</h1>
      <h2 class="subhead" #target2>Samsung Live Space, Switch Programme or Trade-in</h2>
     
    </div>
    <div class="banner-place hidden-xs">
      <img src="../../../../assets/banners/Main-Banner-PC-opaque.jpg" alt="">
    </div>
    <div class="banner-place hidden-lg hidden-md hidden-sm">
      <img class="banner-mob" src="../../../../assets/banners/Main-Banner-MO-opaque.jpg" alt="">
    </div>
  </div>

  <div class="main container">
    <div class="bodyWrapper row">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="personal-info">
            <h4 class="textcenter">Personal information</h4>
            <formly-form [form]="form" [model]="model" [fields]="fields" [options]="options">
            </formly-form>
            <div class="row">
              
              <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label> <span class="ms-5">Mobile number</span>
                  </mat-label>
                  <input matInput type="tel" ng2TelInput [formControl]="contactNumberFormControl"
                    [ng2TelInputOptions]="{initialCountry: 'sg'}" (ng2TelOutput)="getNumber($event)"
                    (countryChange)="onCountryChange($event)" [(ngModel)]="contactNumberInput" />
                  <mat-error>{{getContactErrorMessage()}}</mat-error>
                  
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="appointment-info" *ngIf="form.valid && contactNumberFormControl.valid">
            <h4 class="textcenter">Choose Appointment Type</h4>
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let appointmentType of appointmentTypes;" class='col-md-4 product-group mobile-menu'>
                  <mat-card appMaterialElevation (click)="selectAppointmentType(appointmentType,target,target2)"
                    [ngClass]="{'selected-card':typeSelected === appointmentType}">
                    <mat-card-content>
                      <div class="mobile-view">
                        <div class="menu-img">
                          <img #target src="{{appointmentType.imageUrl}}">
                        </div>
                        <div class="menu-text">
                          <span class="menu-title">{{appointmentType.name}}</span>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <div class="location-info">
            <div *ngIf="(!isMasterDemo && (locations$ | async).length > 0)">
              <h4 class="textcenter mobile-border">Choose Store Location</h4>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Select a Location</mat-label>
                <mat-select [(ngModel)]="selectedLocation" name="location" [ngModelOptions]="{standalone: true}"
                  (selectionChange)="selectLocation()">
                  <mat-option #target *ngFor="let location of locationsList" [value]="location">
                    {{location.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div  class="location-details">
                <div *ngIf="selectedLocation mobile-border">
                  <mat-icon>room</mat-icon><strong>{{selectedLocation.addressLine1}}
                    {{selectedLocation.addressLine2}}</strong>
                </div>
                <iframe class="full-width" id="storeLocation" width="300" height="170" frameborder="0" scrolling="no"
                  marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
          </div>          
          <div class="date-time">
          <div *ngIf="(!isNotifyChecked && (locations$ | async).length > 0 && selectedLocation != null && !isMasterDemo)">
            <h4 class="textcenter top-space mobile-border">Choose Date and Time</h4>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-12">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label style="border-bottom: 1px solid #000000;">Choose a date
                  </mat-label>
                  <input matInput [formControl]="date" [matDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate"
                    [matDatepicker]="dpCollection" disabled (dateInput)="dateEvent('input', $event)">
                  <mat-datepicker-toggle matSuffix [for]="dpCollection"></mat-datepicker-toggle>
                  <mat-datepicker #dpCollection disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-6 col-12" *ngIf="selectedDate">
                <mat-form-field class="custom-time">
                  <mat-label class="time-label">Select a time slot</mat-label>
                  <mat-chip-list>
                    <mat-chip #ref="matChip" *ngFor="let availableTimeslot of availableTimeslots"
                      (click)="selectTimeSlot(ref, availableTimeslot)" [selected]="availableTimeslot.selected"
                      [ngStyle]="ref.selected && {'background-color': 'black'}">
                      <!-- Non selected chips WILL have a bg-color the user chooses -->
                      {{availableTimeslot.startDateTime | date:'shortTime' }}
                    </mat-chip>
                  </mat-chip-list>
                </mat-form-field>

                <ng-template #noSlot>
                  <br />
                  <p>Fully Booked</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
          <p class="note" style="display: none;">Note: Appointment will be expired after 3 days from booking date
            schedule.</p>
          <br /><br />
          <div class="col-12 text-center btn-wrap" *ngIf="!isNotifyChecked">
            <div>
              <button class="btn-default" mat-stroked-button type="submit" (click)="continue()" [disabled]="!form.valid
                      || !contactNumberFormControl.valid
                      || typeSelected == null
                      || selectedLocation == null
                      || selectedDate == null
                      || timeSlot == null">
                Continue
              </button>
            </div>
          </div>

          <div class="col-12 text-center btn-wrap" *ngIf="isNotifyChecked">
            <div>
              <button class="btn-default" mat-stroked-button type="submit" (click)="notifyMe()" [disabled]="!form.valid
                      || !contactNumberFormControl.valid
                      || productSelected == null
                      || selectedLocation == null
                      || !checkbox2
                      || !checkbox3
                      || captchaResponse == null">
                Notify Me
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <footer class="pt-3 mt-4 text-muted border-top">
    <div class="px-3">
      Copyright© 1995-2024 Samsung. All rights reserved.
    </div>
  </footer>
</div>